{% extends 'base.html' %}

{% block content %}

<table class="table table-striped table-bordered profile-details">
  <tbody>
    <tr>
      <th scope="row">First Name</th>
      <td>{{user.first_name}}</td>
    </tr>
    <tr>
      <th scope="row">Last Name</th>
      <td>{{user.last_name}}</td>
    </tr>
    <tr>
      <th scope="row">Email</th>
      <td>{{user.email}}</td>
    </tr>
    <tr>
      <th scope="row">Designation</th>
      <td>{{user.profile.designation}}</td>
    </tr>
    <tr>
      <th scope="row">Salary</th>
      <td>{{user.profile.salary}}</td>
    </tr>
  </tbody>
</table>

<div class="float-right">
	<a class="btn btn-warning" href="{% url 'employee_edit' user.id %}">Edit</a>
	<a class="btn btn-danger" href="{% url 'employee_delete' user.id %}">Delete</a>
</div>


{% endblock %}