{% extends 'base.html' %}

{% block content %}
	<p>
		<h3>{{question.title}}</h3>
	</p>
	<form method="POST" action="." class="">
		{% csrf_token %}
	{% for choice in question.choices %}
	<div class="form-check">
		<label class="form-check-label">
			<input type="radio" name="choice" class="form-check-input" value="{{choice.id}}">{{choice.text}}
		</label>
	</div>

	{% empty %}
		<p>There is no choice available for this question.</p>
	{% endfor %}
	<br/>
	<input type="submit" name="vote" value="Vote" class="btn btn-dark" />
	</form>
	<br/>
<p><i>Poll is created by {{question.created_by.first_name}}</i></p>
{% endblock %}